// ===================
// Colors
//===================

$blue-light: #42b8c6;
$blue-dark: #1795a4;

// ===================
// Weights
//===================

$regular: 500;
$extrabold: 800;

// ===================
// Effects
//===================

$ease-fx: cubic-bezier(.33,.07,.35,.69);
