

<main class="main-content">
  <h1 class="main-content-title">New Zealand</h1>
  <p class="main-content-text">This project might be trickier than ir seems. Look around carefully. What you see? The sky is blue, the grass is green. The
    sun shines through te window.</p>
    
    <picture class="circle" (click)="openModal($event)">
      <img 
      alt="Lake Mountain" 
      src="../assets/img/new-zealand-679068_640.jpg"
      srcset="../assets/img/new-zealand-679068_640.jpg 640w,
      ../assets/img/new-zealand-679068_1920.jpg 1920w">
    </picture>
    
    <picture class="rectangle" (click)="openModal($event)">
      <img 
      alt="Lake Web Kai Dock" 
      src="../assets/img/new-zealand-583176_640.jpg"
      srcset="../assets/img/new-zealand-583176_640.jpg 640w,
      ../assets/img/new-zealand-583176_1920.jpg 1920w">
    </picture>
    
    <picture class="square" (click)="openModal($event)">
      <img 
      alt="Doubtful Sound Fjord" 
      src="../assets/img/new-zealand-583181_640.jpg"
      srcset="../assets/img/new-zealand-583181_640.jpg 640w,
      ../assets/img/new-zealand-583181_1920.jpg 1920w">
    </picture>
    
    <picture class="triangle" (click)="openModal($event)">
      <img 
      alt="Sun rise beach" 
      src="../assets/img/sun-rise-661541_640.jpg"
      srcset="../assets/img/sun-rise-661541_640.jpg 640w,
      ../assets/img/sun-rise-661541_1920.jpg 1920w">
    </picture>
    
    
    <div #myModal class="modal">
      <button (click)="closeModal()" class="btn-close"></button>
      <div class="modal-content">
        <h2 class="modal-title">{{ modalTitle }}</h2>
        <img src="{{ imgSrc }}" alt="{{ modalTitle }}">
      </div>
    </div>
  </main>
  